body
{
    margin: 0;
    padding: 0;
    background: url(W2.jpg);
    background-size: 90%;
    font-family: sans-serif;
}
.sign-up-form
{
    width: 350px;
    height: 520px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    top: 54%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.7);
}
p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -9%;
    left: calc(50% - 50px);
}

.sign-up-form h1
{
    margin:0;
    padding 0 0 20px;
    text-align: center;
    font-size: 20px;
}
.inputbox
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
    width: 90%;
    margin-bottom: 25px;
}

.signup-btn
{
    background-color: #fb2525;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size:16px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.gmail-btn
{
    background-color: #fb2525;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size:16px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
hr
{
    margin-top: 20px;
    width: 100%;
}
.or
{
    background: #fb2525;
    width: 30px;
    margin: -17px auto 10px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
}
p1
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    text-align: center;
}
.signup-btn:hover{
    background: #990000;
}
.gmail-btn:hover{
    background: #990000;
}
.sign-up-form a:hover{
    color: #990000;
}